<h1>This is our game control app.</h1>
<hr>
<app-game-control (currentSecondPopped)="handleCurrentSecond($event)"></app-game-control>
<hr>
<h3>Below will have multiples odd & even components continually be created.</h3>

<div *ngIf="oddComponents?.length">
  <h3>This is odd components.</h3>
  <div *ngFor="let odd of oddComponents">
    <app-odd [currentSecond]="odd"></app-odd>
  </div>
</div>

<div *ngIf="evenComponents?.length">
  <h3>This is even components.</h3>
  <div *ngFor="let even of evenComponents">
    <app-even [currentSecond]="even"></app-even>
  </div>
</div>
